<h1 class='text-center mt-5'><strong><%= @watchlist.name %></strong></h1>

<p class="text-center my-4"><%= link_to 'Add a movie', movies_path %></p>

<p><%= link_to 'Back to Watchlists', watchlists_path %> | <%= link_to 'Home', root_path %></p>
