
<div class="banner">
  <div class="container mt-5">
    <h1><strong>What's to Watch ?</strong></h1>
    <h4 class='col-3 mt-3'>Find and create watchlists from all kind of movies!</h4>
  </div>
  <%= link_to 'Create a Watchlist', watchlists_path, target: "_blank", class:"btn btn-primary" %>
</div>

<div class="mt-5 d-flex">
  <%= link_to 'Movies', movies_path,  target: "_blank" %>
  <%= link_to ' Watchlists', watchlists_path,  target: "_blank" %>
</div>
